.lookup-table-container {
    padding: 20px;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .lookup-table-container {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.lookup-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.lookup-table th,
.lookup-table td {
    border: 1px solid var(--border-color-light);
    padding: 8px;
    text-align: center;
}

.lookup-table th {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}

body.dark-mode .lookup-table th,
body.dark-mode .lookup-table td {
    border: 1px solid var(--border-color-dark);
}

body.dark-mode .lookup-table th {
    background-color: var(--secondary-color-dark);
}

.lookup-table td:not(:last-child) {
    text-align: center;
}

.lookup-table td:last-child {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.edit-button,
.map-icon,
.delete-button,
.create-button {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.edit-button:hover,
.map-icon:hover,
.delete-button:hover,
.create-button:hover {
    background-color: #357ABD;
    transform: translateY(-2px);
}

.accept-button,
.deny-button {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.accept-button {
    background-color: #4CAF50;
}

.accept-button:hover {
    background-color: #45a049;
    transform: translateY(-2px);
}

.deny-button {
    background-color: #f44336;
}

.deny-button:hover {
    background-color: #da190b;
    transform: translateY(-2px);
}

.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--background-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.close-button {
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 15px;
    transition: color 0.3s ease;
}

body.dark-mode .close-button {
    color: #4A90E2;
}

body.dark-mode .close-button:hover {
    color: #357ABD;
}

.close-button:hover,
.close-button:focus {
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
}

.select-field,
.input-field {
    width: 97%;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 1em;
}

.save-button {
    background-color: #4A90E2;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.3s, transform 0.2s;
}

.save-button:hover {
    background-color: #357ABD;
    transform: translateY(-2px);
}

.filter-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto 20px auto;
}

.filter-button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    font-size: 1em;
}

.filter-button:hover {
    background-color: var(--secondary-color-light);
    transform: translateY(-2px);
}

.modal-content.delete-popup {
    max-width: 400px;
    max-height: 50vh;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}

.restaurant-row {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1.5px solid #357ABD;
    transition: background-color 0.3s ease;
}

.body-dark .restaurant-row {
    border-bottom: 1.5px solid #4A90E2;
}

.restaurant-row:hover {
    background-color: var(--secondary-color-light);
}

.restaurant-row.active {
    background-color: var(--secondary-color-dark);
}

/* Stilovi za modal i kartice */
.modal-content.category-modal {
    max-width: 600px;
    max-height: 80vh;
    overflow-y: hidden;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Horizontalni scroll stilovi */
.categories-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.categories-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    white-space: nowrap;
    width: 100%;
    padding: 10px 0;
}

.scroll-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #4A90E2;
    transition: color 0.3s;
}

.scroll-button:hover {
    color: #357ABD;
}

.category-card {
    background-color: #4A90E2;
    color: var(--text-color-dark);
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    width: 150px;
    text-align: center;
    display: inline-block;
    margin: 0 5px;
    position: relative;
}

.category-card:hover {
    background-color: #357ABD;
    transform: translateY(-5px);
}

.category-card:focus {
    outline: none;
}

/* Dropdown stilovi za zone dostave */
.zone-dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
}

.zone-dropdown-header {
    border: 1px solid gray;
    color: gray;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zone-dropdown-item input[type="checkbox"]:checked+label {
    background-color: #d3d3d3;
    border-radius: 3px;
}

.zone-dropdown-content {
    position: absolute;
    background-color: white;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    overflow: auto;
    max-height: 200px;
    margin-top: 5px;
}

.zone-dropdown-item {
    padding: 10px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.zone-dropdown-item:hover {
    background-color: #f1f1f1;
}

.zone-dropdown-item input[type="checkbox"] {
    margin-right: 10px;
}

/* Items stilovi */
.items-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    width: 100%;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.item-card {
    background-color: #4A90E2;
    color: var(--text-color-dark);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    transition: background-color 0.3s;
    flex: 0 0 auto;
}

.item-card:hover {
    background-color: #357ABD;
}

/* Stilizacija za horizontalni skrol unutar kategorija */
.items-container::-webkit-scrollbar {
    height: 8px;
}

.items-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.items-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.items-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Popup stilovi za mapu */
.modal-content.map-popup {
    max-width: 600px;
    height: 400px;
}

.clickable-address {
    cursor: pointer;
    color: #4A90E2;
    text-decoration: underline;
}

.clickable-address:hover {
    color: #357ABD;
}

.custom-renderer td {
    vertical-align: middle;
    text-align: center;
}

.star-icon {
    color: #FFD700;
    font-size: 1.2em;
}

/* Dodatni stilovi za akciona dugmadi */
.edit-button,
.map-icon,
.delete-button {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.edit-button:hover,
.map-icon:hover,
.delete-button:hover {
    background-color: #357ABD;
    transform: translateY(-2px);
}

.map-icon {
    background-color: #28a745;
}

.map-icon:hover {
    background-color: #218838;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

.create-button {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.create-button:hover {
    background-color: #357ABD;
    transform: translateY(-2px);
}

.owner-search-results {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    width: 50%;
    z-index: 1000;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.owner-search-results li {
    padding: 10px;
    cursor: pointer;
}

.owner-search-results li:hover {
    background-color: #f1f1f1;
}

.orders-container {
    padding: 20px;
}

.order-details-modal {
    max-width: 600px;
    max-height: 70vh;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .order-details-modal {
    background-color: var(--background-color-dark);
}

.order-details-modal ul {
    list-style-type: none;
    padding: 0;
}

.order-details-modal ul li {
    margin: 10px 0;
    font-size: 1.1em;
    color: var(--text-color);
}

.order-details-modal p {
    font-weight: bold;
    font-size: 1.2em;
    color: var(--text-color);
}

.order-row {
    cursor: pointer;
    color: #333;
}

body.dark-mode .order-row {
    color: #fff;
}

.order-row.active {
    font-weight: bold;
}

.order-row:hover {
    text-decoration: underline;
    text-decoration-color: #00bfff;
    text-decoration-thickness: 1.5px;
}

.restaurant-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.restaurant-name {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.restaurant-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
    color: #FFD700;
}

.star-rating {
    display: flex;
    gap: 2px;
}

.restaurant-location,
.restaurant-capacity,
.restaurant-category {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #555;
}

body.dark-mode .restaurant-location,
body.dark-mode .restaurant-capacity,
body.dark-mode .restaurant-category {
    color: white;
}

.restaurant-images {
    margin: 20px 0;
}

.restaurant-images-gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 100%;
    height: 120px;
}

.gallery-arrow {
    margin: 0 10px;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #4A90E2;
    cursor: pointer;
    z-index: 1;
    transition: color 0.3s ease;
}

.gallery-arrow.left {
    left: 10px;
}

.gallery-arrow.right {
    right: 10px;
}

.gallery-arrow:hover {
    color: #357ABD;
}

.gallery-image {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

.delete-image-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: red;
    cursor: pointer;
    z-index: 2;
    transition: color 0.3s ease;
}

.delete-image-icon:hover {
    color: darkred;
}

.restaurant-images-gallery img {
    max-height: 130px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.no-images {
    font-size: 1.2rem;
    color: #888;
    font-style: italic;
}

.restaurant-edit-form,
.modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal label {
    font-weight: bold;
}

.modal input[type="text"],
.modal input[type="file"],
.modal input[type="number"] {
    padding: 8px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.image-item {
    position: relative;
}

.image-item img {
    max-width: 80px;
    max-height: 80px;
    border-radius: 8px;
}

.delete-image-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #ff4c4c;
    border: none;
    border-radius: 50%;
    color: white;
    font-size: 10px;
    cursor: pointer;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-image-button:hover {
    background-color: #e60000;
}

body.dark-mode .restaurant-name,
body.dark-mode .restaurant-contact,
body.dark-mode .restaurant-capacity {
    color: #ccc;
}

body.dark-mode .restaurant-images-gallery img {
    border: 1px solid #666;
}

body.dark-mode .modal-content {
    background-color: #333;
    color: #fff;
    border: 1px solid #444;
}

body.dark-mode .modal input[type="text"],
body.dark-mode .modal input[type="file"],
body.dark-mode .modal input[type="number"] {
    background-color: #555;
    color: #fff;
    border: 1px solid #666;
}

.image-upload-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    border: 1.5px dashed #4A90E2;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.image-upload-label:hover {
    background-color: #e6f7ff;
    border-color: #357ABD;
}

.image-upload-input {
    display: none;
}

.image-upload-label::before {
    content: "📂 ";
    font-size: 1.3rem;
    margin-right: 10px;
}

label {
    display: block;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    appearance: none;
}

select::-ms-expand {
    display: none;
}

select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

option {
    padding: 10px;
    font-size: 15px;
}

.item-modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-modal-content {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    width: 90%;
    max-width: 800px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.item-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.item-close-button:hover,
.item-close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.form-row label {
    flex: 1;
    margin-right: 10px;
}

.form-row label:last-child {
    margin-right: 0;
}

label input,
label select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

.image-upload-container {
    margin-top: 10px;
}

.image-upload-input {
    width: 100%;
    padding: 8px;
}

.horizontal-gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.horizontal-gallery img {
    max-height: 150px;
    max-width: 100px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.horizontal-gallery-arrow {
    font-size: 2rem;
    color: #4A90E2;
    cursor: pointer;
    z-index: 2;
    transition: color 0.3s ease;
}

.horizontal-gallery-arrow:hover {
    color: #357ABD;
}

.item-gallery {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-gallery-image {
    width: 100%;
    height: 510px;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.item-gallery-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
}

.item-gallery-arrow.left {
    left: 10px;
}

.item-gallery-arrow.right {
    right: 10px;
}

.item-gallery-arrow:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.item-gallery:hover .item-gallery-image {
    transform: scale(1.05);
}

.courier-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-field,
.select-field,
.checkbox-field {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
}

.input-field:focus,
.select-field:focus {
    border-color: #007bff;
}

.search-results {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
}

.search-results li {
    padding: 10px;
    cursor: pointer;
    background-color: #f8f8f8;
    transition: background-color 0.3s ease-in-out;
}

.search-results li:hover {
    background-color: #e0e0e0;
}

.save-button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.save-button:hover {
    background-color: #0056b3;
}

.checkbox-field {
    width: auto;
    height: 20px;
    margin-right: 10px;
}

.checkbox-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.modal-content {
    max-width: 500px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.close-button:hover {
    color: #007bff;
}

/* General Styles */
.modal-content h2 {
    margin: 5px;
}

.modal-content h3 {
    margin: 0px 0px 5px 0px;
}

/* Light Mode Styles */
.restaurant-operating-hours {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

/* Restaurant Operating Hours Specific Styles */
.restaurant-operating-hours {
    margin: 20px auto;
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
}

.restaurant-operating-hours ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.restaurant-operating-hours li {
    font-size: 1rem;
    color: #555;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.restaurant-operating-hours li:last-child {
    border-bottom: none;
}

.restaurant-operating-hours li::before {
    content: "•";
    color: #4A90E2;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

/* Dark Mode Styles */
body.dark-mode .restaurant-operating-hours {
    border-color: #00bfff;
    background-color: #2c2c2c;
}

body.dark-mode .operating-hours-section h3,
body.dark-mode .restaurant-operating-hours h3 {
    color: #ddd;
}

body.dark-mode .operating-hours-input label {
    color: #ccc;
}

body.dark-mode .operating-hours-input input[type="time"] {
    border-color: #666;
    background-color: #444;
    color: #ddd;
}

body.dark-mode .operating-hours-input span {
    color: #ccc;
}

body.dark-mode .restaurant-operating-hours li {
    color: #ccc;
    border-bottom-color: #555;
}

body.dark-mode .restaurant-operating-hours li::before {
    color: #4A90E2;
}

.operating-hours-section select {
    width: 70%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: #495057;
    font-size: 1rem;
}

.operating-hours-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.operating-hours-input label {
    flex: 1;
    font-weight: bold;
    color: #495057;
}

.operating-hours-input span {
    margin: 0 5px;
    color: #495057;
}

body.dark-mode .operating-hours-section label,
body.dark-mode .operating-hours-input label {
    color: #ccc;
}

body.dark-mode .operating-hours-section select,
body.dark-mode .operating-hours-input input[type="time"] {
    background-color: #495057;
    color: #f8f9fa;
    border: 1px solid #6c757d;
}

.select-day-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.select-day-row label {
    font-weight: bold;
    margin-bottom: 5px;
}

.select-day-row select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
}
