.restaurant-details {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.star-rating {
    display: inline-flex;
    align-items: center;
    margin-bottom: 10px;
}

.star {
    font-size: 24px;
    color: #f39c12;
    margin-right: 2px;
}

.menu-items {
    margin-top: 10px;
}

.item-description {
    flex-grow: 1;
    margin-left: 15px;
}

.item-price {
    margin-left: 15px;
    white-space: nowrap;
}

.item-quantity-controls {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.item-quantity-controls button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #ddd;
    background-color: var(--secondary-color);
    cursor: pointer;
    padding: 0 !important;
}

.item-quantity-controls input {
    width: 50px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ddd;
    height: 30px;
}

.add-to-basket-button {
    margin-left: 15px;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-to-basket-button:hover {
    background-color: #2980b9;
}

.add-to-basket-button.disabled-button {
    background-color: #ccc;
    cursor: not-allowed;
}

.add-to-basket-button.disabled-button:hover {
    background-color: #ccc;
}

.clickable-restaurant-address {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.clickable-restaurant-address:hover {
    color: #0056b3;
}

/* Dark mode stilovi */
body.dark-mode .clickable-restaurant-address {
    color: #66b3ff;
}

body.dark-mode .clickable-restaurant-address:hover {
    color: #3399ff;
}

body.dark-mode .restaurant-details {
    background-color: #2c3e50;
    color: #ecf0f1;
}

body.dark-mode .item-quantity-controls button {
    border: 1px solid #555;
    background-color: #34495e;
    color: #ecf0f1;
}

body.dark-mode .item-quantity-controls input {
    border: 1px solid #555;
    background-color: #34495e;
    color: #ecf0f1;
}

body.dark-mode .add-to-basket-button {
    background-color: #2980b9;
}

body.dark-mode .add-to-basket-button:hover {
    background-color: #1c6690;
}

body.dark-mode .add-to-basket-button.disabled-button {
    background-color: #666;
}

body.dark-mode .add-to-basket-button.disabled-button:hover {
    background-color: #666;
}

body.dark-mode .star {
    color: #f1c40f;
}
