.footer {
    background-color: var(--footer-background);
    color: #fff;
    padding: 5px;
    border-top: 2px solid var(--border-color);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: auto;
}

body.dark-mode .footer {
    border-top: 2px solid var(--border-color-dark);
}
