:root {
  --primary-color: #fff;
  --secondary-color: #00bfff;
  --background-color-light: #ffffff;
  --background-color-dark: #333333;
  --text-color-light: #333333;
  --text-color-dark: #ffffff;
  --header-background: #343a40;
  --footer-background: #343a40;
}

body.dark-mode {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

body {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--header-background);
  border-bottom: 1px solid #e0e0e0;
}

body.dark-mode .top-bar {
  background-color: #444;
  border-color: #555;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-color);
}

.top-bar-icons {
  display: flex;
  align-items: center;
}

.top-bar-icons .icon {
  margin: 0 10px;
  cursor: pointer;
  font-size: 1.5em;
  color: var(--primary-color);
  transition: color 0.2s, transform 0.2s;
}

.top-bar-icons .icon:hover {
  color: var(--secondary-color);
  transform: scale(1.1);
}

.top-bar-icons .theme-icon {
  margin-top: 0.3em;
}

section {
  padding: 40px 20px;
}

.content-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-row.reverse {
  flex-direction: row-reverse;
}

.content-row.normal {
  flex-direction: row;
}

.content-img {
  width: 200px;
  height: auto;
  margin: 0 20px;
  border: 2px solid var(--secondary-color);
}

.partner-logos {
  display: flex;
  justify-content: center;
}

.partner-logo {
  width: 200px;
  height: auto;
  margin: 0 10px;
  border: 2px solid var(--secondary-color);
}

.join-us-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.join-card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid gainsboro;
  transition: transform 0.2s;
  width: 200px;
  padding: 20px;
}

.join-card:hover {
  transform: translateY(-5px);
}

.join-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
  border-radius: 4px;
}

button:hover {
  background-color: var(--secondary-color);
}

.faq-item {
  cursor: pointer;
  margin: 20px 0;
  padding: 10px 0;
  transition: all 0.3s ease-in-out;
}

.faq-item h3 {
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.faq-item h3::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--secondary-color);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.faq-item:hover h3::after,
.faq-item.active h3::after {
  visibility: visible;
  transform: scaleX(1);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.faq-answer.open {
  max-height: 200px;
  padding: 10px 0;
  border-bottom: 2px solid var(--secondary-color);
}

footer {
  background-color: var(--footer-background);
  color: #fff;
  padding: 10px;
}
